<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pepe's Concecionaria</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <!-- Tipo de Plan -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/TipoPlan/mostrar">
                <span class="bi bi-file-earmark-check" aria-hidden="true"></span> Planes
            </NavLink>
        </div>
        <!--Menu adjudicaciones-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Adjudicacion">
                <span class="bi bi-file-earmark-check" aria-hidden="true"></span> Adjudicaciones
            </NavLink>
        </div>

        <!-- Menú desplegable para Clientes-->
        <div class="nav-item dropdown px-3" @onmouseover="OpenClienteDropdown" @onmouseout="CloseClienteDropdown">
            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" @onclick="ToggleClienteDropdown">
                <span class="icon-file-earmark-text"></span> Clientes
            </a>
            <div class="dropdown-menu" style="display: @(showClienteDropdown ? "block" : "none")">
                <a class="dropdown-item" href="api/Cliente/mostrar">
                    <span class="icon-eye-fill"></span> Mostrar Cliente
                </a>
                <a class="dropdown-item" href="api/Cliente/agregar">
                    <span class="icon-plus-circle-fill"></span> Agregar Cliente
                </a>
                <a class="dropdown-item" href="api/Cliente/editar">
                    <span class="icon-pencil-fill"></span> Editar Cliente
                </a>
                <a class="dropdown-item" href="api/Cliente/eliminar">
                    <span class="icon-trash-fill"></span> Eliminar Cliente
                </a>
            </div>
        </div>
         <!-- Vehículos -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Vehiculos/Mostrar">
                <span class="bi bi-file-earmark-check" aria-hidden="true"></span> Vehiculos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/TipoDocumento">
                <span class="bi bi-person-vcard-fill" aria-hidden="true"></span> Tipo de documento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Pagos/agregar">
                <span class="bi bi-cash-coin-fill" aria-hidden="true"></span>  Registrar Pago
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Pagos/mostrar">
                <span class="bi bi-cash-stack-fill" aria-hidden="true"></span> Mostrar Pago
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7247/swagger" target="_blank">
                <span class="bi bi-engranaje-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>

        <!-- Menú desplegable para Planes Vendidos -->
        <div class="nav-item dropdown px-3" @onmouseover="OpenPlanesVendidoDropdown" @onmouseout="ClosePlanesVendidoDropdown">
            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" @onclick="TogglePlanesVendidoDropdown">
                <span class="icon-file-earmark-text-fill"></span> Planes Vendidos
            </a>
            <div class="dropdown-menu" style="display: @(showPlanesVendidoDropdown ? "block" : "none")">
                <a class="dropdown-item" href="api/PlanVendido/mostrar">
                    <span class="icon-eye-fill"></span> Mostrar Planes
                </a>
                <a class="dropdown-item" href="api/PlanVendido/agregar">
                    <span class="icon-plus-circle-fill"></span> Agregar Plan Vendido
                </a>
                <a class="dropdown-item" href="api/PlanVendido/editar">
                    <span class="icon-pencil-fill"></span> Editar Plan Vendido
                </a>
                <a class="dropdown-item" href="api/PlanVendido/eliminar">
                    <span class="icon-trash-fill"></span> Eliminar Plan Vendido
                </a>
            </div>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool showVehiculosDropdown = false;

    #region Vehiculos
    // Métodos para controlar el menú Vehículos
    private void ToggleVehiculosDropdown()
    {
        showVehiculosDropdown = !showVehiculosDropdown;
    }

    private void OpenVehiculosDropdown()
    {
        showVehiculosDropdown = true;
    }

    private void CloseVehiculosDropdown()
    {
        showVehiculosDropdown = false;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    #endregion

    #region TipoPlan
    // Estado para los menús desplegables
    private bool showTipoPlanDropdown = false;   // Para el menú Tipo de Plan
    private bool showPlanesVendidoDropdown = false;   // Para el menú Planes Vendidos

    // Métodos para controlar el menú Tipo de Plan
    private void ToggleTipoPlanDropdown()
    {
        showTipoPlanDropdown = !showTipoPlanDropdown;
    }

    private void OpenTipoPlanDropdown()
    {
        showTipoPlanDropdown = true;
    }

    private void CloseTipoPlanDropdown()
    {
        showTipoPlanDropdown = false;
    }
    #endregion

    #region PlanVendido
    // Métodos para controlar el menú Planes Vendidos
    private void TogglePlanesVendidoDropdown()
    {
        showPlanesVendidoDropdown = !showPlanesVendidoDropdown;
    }

    private void OpenPlanesVendidoDropdown()
    {
        showPlanesVendidoDropdown = true;
    }

    private void ClosePlanesVendidoDropdown()
    {
        showPlanesVendidoDropdown = false;
    }
    #endregion

    #region Clientes
    // Estado para los menús desplegables
    private bool showClienteDropdown = false;
    private bool showVendedorDropdown = false;

    // Métodos para controlar el menú Cliente
    private void ToggleClienteDropdown()
    {
        showClienteDropdown = !showClienteDropdown;
    }

    private void OpenClienteDropdown()
    {
        showClienteDropdown = true;
    }

    private void CloseClienteDropdown()
    {
        showClienteDropdown = false;
    }
    #endregion

    #region Vendedores
    private void ToggleVendedorDropdown()
    {
        showVendedorDropdown = !showVendedorDropdown;
    }

    private void OpenVendedorDropdown()
    {
        showVendedorDropdown = true;
    }

    private void CloseVendedorDropdown()
    {
        showVendedorDropdown = false;
    }
    #endregion

}