<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pepe's Concecionaria</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/TipoDocumento">
                <span class="bi bi-person-vcard-fill" aria-hidden="true"></span> Tipo de documento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Pagos/agregar">
                <span class="bi bi-cash-coin" aria-hidden="true"></span>  Registrar Pago
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api/Pagos/mostrar">
                <span class="bi bi-cash-stack" aria-hidden="true"></span> Mostrar Pago
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://localhost:7247/swagger" target="_blank">
                <span class="bi bi-engranaje-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>

        <!---------------------------------------- Menu Desplagable de Planes Vendidos ------------------------------------>
        <div class="nav-item dropdown px-3" @onmouseover="OpenDropdown" @onmouseout="CloseDropdown">
            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" @onclick="ToggleDropdown">
                <span class="icon-file-earmark-text"></span> Planes Vendidos
            </a>
            <div class="dropdown-menu" style="display: @(showDropdown ? "block" : "none")">
                <a class="dropdown-item" href="api/PlanVendido/mostrar">
                    <span class="icon-eye-fill"></span> Mostrar Planes
                </a>
                <a class="dropdown-item" href="api/PlanVendido/agregar">
                    <span class="icon-plus-circle-fill"></span> Agregar Plan Vendido
                </a>
                <a class="dropdown-item" href="api/PlanVendido/editar">
                    <span class="icon-pencil-fill"></span> Editar Plan Vendido
                </a>
                <a class="dropdown-item" href="api/PlanVendido/eliminar">
                    <span class="icon-trash-fill"></span> Eliminar Plan Vendido
                </a>
            </div>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // Control para la visibilidad del dropdown de Planes Vendidos
    private bool showDropdown;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }

    private void OpenDropdown()
    {
        showDropdown = true;
    }

    private void CloseDropdown()
    {
        showDropdown = false;
    }
}

