.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    background-color: #1a73e8;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Formulario */
.form-group label {
    font-weight: bold;
    color: #333333;
}

.form-group .form-control {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ced4da;
}

    .form-group .form-control:focus {
        border-color: #1a73e8;
        box-shadow: 0 0 5px rgba(26, 115, 232, 0.5);
    }

.btn-primary {
    background-color: #1a73e8;
    border: none;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #155bb5;
    }
